<div class="well">
  <h4>Add a new project:</h4>
  <form class="form-group" action="/" method="post">
    <input class="form-control" type="text" name="title" placeholder="Project title" required><br>
    <button type="submit" class="btn btn-primary" name="new_project">Create Project</button>
  </form>
  <% if !@project_list.empty? %>
    <h4>Current projects:</h4>
    <p>click on project name to view details</p>
    <table>
      <% @project_list.each do |project| %>
        <tr>
          <th><a href="/projects/<%=project.id%>"><%= project.title %></a></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="well">
  <h4>Add a new volunteer:</h4>
  <form class="form-group" action="/" method="post">
    <input class="form-control" type="text" name="volunteer_name" placeholder="Volunteer name" required><br>
    <button type="submit" class="btn btn-primary" name="new_volunteer">Add</button>
  </form>
  <% if !@volunteers_list.empty? %>
    <h4>Current volunteers:</h4>
    <p>click on volunteer name to view details</p>
    <table>
      <% @volunteers_list.each do |volunteer| %>
        <tr>
          <th><a href="/volunteer/<%=volunteer.id%>"><%= volunteer.name %></a></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
