
<br>
<h2>Welcome to Jush Books:</h2>
<div class="form-group">
  <h3>Are you a:</h3>
  <form action="/librarian"><button type="submit" name="librarian" class="btn btn-success">Librarian</button></form>
  <br>
  <hr>
  <h3>...or a:
  <form action="/patron"><button name="patient" class="btn btn-success">Patron</button></form>
</div>
