<div class="well">

  <h1>Current info: <%= @volunteer.name %></h1>

  <form class="form-group" action="/volunteer/<%= @volunteer.id %>" method="post">
    <input name="_method" type="hidden" value="patch"/>
    <label for="name">Update name:</label>
    <input class="form-control" name="name" placeholder="<%= @volunteer.name %>" required><br>
    <button type="submit" class="btn btn-warning">Update Volunteer</button>
  </form>

</div>
